
body {
	padding: 0;
	border: 0;
	margin: 0;
	color: #aaa;
	background-color: #000;
	font-family: "sans-serif", "Century Gothic";
	cursor: default;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a {
	text-decoration: none;
}

canvas {
	float: left;
	width: 100%;
	height: 100%;
	padding: 0;
	border: 0;
	margin: 0;
}

.rightbar {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 160px;
}

.sidebar {
	float: left;
	width: 160px;
	height: 100%;
	background-color: #222;
}

.footer {
	display: block;
	color: #888;
	font-size: 0.7em;
	width: 100%;
	text-align: center;
	margin-bottom: 1.5em;
}

.title {
	font-family: "sans-serif", "Century Gothic";
	font-size: 2em;
	font-weight: normal;
	text-shadow: 0px 0px 4px #aaa;
	display: block;
	text-align: center;
	color: #eee;
	padding-top: 0.3em;
}

.subtitle {
	color: #86a;
	font-size: 0.75em;
	display: block;
	text-align: center;
}

.btn {
	display: block;
	border: 1px solid #aaa;
	border-radius: 5px;
	color: #aaa;
	text-align: center;
	text-decoration: none;
	cursor: pointer;

	margin: 18px;
	padding: 5px 0px 5px 0px;

	width: 110px;
	width: 50%;
	height: 20px;
	margin: 5px 25% 5px 25%;

	background-color: #123;
	background: -webkit-linear-gradient(#124, #123);
	background: -moz-linear-gradient(#124, #123);

}
.lit {
	border: 1px solid #fff;
	color: #fff;
	box-shadow: 0px 0px 7px #acf;
	background-color: #338;

	background: -webkit-linear-gradient(#439, #337);
	background: -moz-linear-gradient(#439, #337);
}
.red {
	background-color: #611;
	background: -webkit-linear-gradient(#712, #611);
	background: -moz-linear-gradient(#712, #611);
}
.redlit {
	border: 1px solid #fff;
	color: #fff;
	box-shadow: 0px 0px 7px #acf;
	background-color: #822;

	background: -webkit-linear-gradient(#922, #721);
	background: -moz-linear-gradient(#922, #721);
}

.message {
	position: absolute;
	left: 0px;
	top: 0px;
	display: block;
	width: 340px;
	height: 220px;
	margin: 18px;
	padding: 5px;
	border: 1px solid #aaa;
	border-radius: 15px;
	color: #ccc;
	text-align: center;
	text-decoration: none;
	cursor: default;
	padding: 1em 2em 1em 2em;

	background-color: #215;
}

.okButton {
	display: block;
	width: 100px;
	height: 20px;
	margin-top: 20px;
	margin-left: 110px;
	padding: 5px;
	border: 1px solid #aaa;
	border-radius: 5px;
	color: #ccc;
	background-color: #111;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.slider {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	display: block;
	border: 1px solid #aaa;
	border-radius: 5px;
	color: #ccc;
	text-align: center;
	text-decoration: none;
	cursor: default;
	padding: 0;

	width: 50%;
	height: 70%;
	margin: 10px 25% 10px 25%;

	background-color: #15e;
	background: -webkit-linear-gradient(#e2f, #58e, #35a, #138);
	background: -moz-linear-gradient(#e2f, #58e, #35a, #138);
}

.sliderDisabled {
	background-color: #333;
	background: -webkit-linear-gradient(#333, #333);
	background: -moz-linear-gradient(#313, #333);
}

.sliderBar {
	display: block;
	width: 100%;
	height: 20%;
	margin: 0;
	padding: 0;
	border-radius: 4px;

	background-color: #111;
}

